<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

    *,
    *:before,
    *:after {
      box-sizing: border-box;
      margin: 0;
    }

    html,
    body {
      height: 100%;
      font-family: 'Raleway', sans-serif;
      font-size: 16px;
      word-spacing: 1px;
    }

    .mail {
      width: 90%;
      min-height: fit-content;
      justify-content: center;
      max-width: 600px;
      height: max-content;
      margin: auto;
      padding: 3rem;
      background: #ffa79645
    }

    .logo {
      width: fit-content;
    }

    .logo img {
      width: 60px;
    }

    h1 {
      font-size: 22px;
      font-weight: bold;
    }

    p {
      margin: 1rem 0;
      display: block;
      color: #222 !important;
      font-size: 18px;
      font-weight: 500
    }

    .button {
      background: #EE4D2D;
      padding: 0.5rem 1rem;
      color: #fff !important;
      text-decoration: none;
      border-radius: 2px;
      margin-left: -1px;
      margin: 2.5rem 0 25px 0;
      display: block;
      width: max-content;
      font-size: 17px !important;
      font-weight: 500;
    }

    a {
      color: #fff !important;
      font-size: 17px !important;
    }
  </style>
</head>

<body>
  <div class="mail">
    <div class="logo">
      <img src="https://foreingfinds.s3.sa-east-1.amazonaws.com/logo.png">
    </div>

    <p style="mergin-top: 0">Bem-vindo ao Foreingfinds!</p>

    <p>Seu cadastro está quase pronto, clique no botão abaixo para ativar sua conta.</p>

    <a href="{{ link }}" target="_blank" class="button">Ativar minha conta</a>
  </div>
</body>

</html>